// variable definitions // 
$primary-color : #272727;
$accent-color: #ff652f;//
$text-color: #fff;

$mobile-size: 800px;

// maps //
$font-weights: (
    'regular': 400,
    'medium': 500,
    'bold': 700,
    'extra-bold': 900
);

$font-fam: (
    'title': Arial,
    'content': "Courier New"
);
