body {
    font: 1em Arial, Helvetica, sans-serif;
    background-color: peachpuff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: antiquewhite;
}

.header-title {
    position: relative;
    display: flex;
}

#logo {
    height: 50px;
    margin-top: 15px;
    margin-right: 10px;
}

header > nav {
    text-align: center;
    background-color: rgb(223, 195, 137);
}

main {
    margin-top: 115px;
    display: flex;
}

main > section{
    margin-right: max(97px, 11.5%);
    margin-bottom: 45px;
    z-index: -1;
}

#menu-direita{
    position: fixed;
    top: 99px;
    right: 0;
    height: 100%;
    width: 10%;
    min-width: 80px;
    padding: 8px;
    background-color: antiquewhite;
    z-index: -1;
}

article {
    background-color: snow;
    font-size: 12pt;
    min-height: 200px;
    margin-bottom: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.432);
    border-radius: 10px;
}

.artigo-com-adicional{
    display: flex;
}

.artigo-com-adicional >aside{
    font-size: small;
    width: 50%;
    min-width: 150px;
    border: 2px solid darkgray;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 45px;
    background-color: antiquewhite;
    text-align: center;
}