.about__bio-img {
    height: 30vh;
    width: 100%;
    background:
    linear-gradient(
        to right,
        rgba($primary-color, 0.9),
        rgba($primary-color, 0.4)
    ),
    url('../img/model-1.jpg') center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 1rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 65vw;
    margin: 0 auto;
    padding-top: 2rem;
    grid-gap: 2rem;

    &__project {
        height: 15rem;
        display: flex;
        align-content: center;
        justify-content: center;
        background-color: lighten($primary-color, 10%);
        border-bottom: 7px solid $secondary-color;
        cursor: pointer;
        background-image: url('../img/project-6.jpg');

        .project__overlay {
            width: 100%;
            height: 0%;
            align-self: flex-end;
            text-align: center;
            display: flex;
            background-color: $secondary-color;
            align-items: center;
            justify-content: space-evenly;
            visibility: hidden;
            @include transition-ease;

            a {
                @include transition-ease(0.5s);
                opacity: 0;
                color: #000;
            }
    
            a:hover {
                color: #fff;
            }
        }

        &:hover .project__overlay {
            height: 100%;
            visibility: visible;
            a {
                opacity: 100%;
            }
        }
    }

}

@for $i from 1 through 6 {
    .projects__project:nth-child(#{$i}) {
        background-image: url('../img/project-' + $i + '.jpg');
        background-position: center center;
        background-size: cover;
        background-color: blue;
    }
}